* {
  padding: 0;
  margin: 0;
  box-sizing: 0;
  text-decoration: none;
  list-style: none;
}

main {
  margin-top: 70px;
  width: 100%;
  height: 100vh;
}
nav ul li a {
  color: white;
}
header {
  width: 100%;
  height: 70px;
  gap: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  left: 0;
  z-index: 999;
  position: fixed;
  color: white;
  background-color: #06103c;
}
header h3 {
  padding-left: 70px;
}
nav ul {
  background-color: #06103c;
  justify-content: center;
  display: flex;
  gap: 40px;
  font-size: 20px;
}
.btns1 {
  padding-right: 80px;
  display: flex;
  justify-content: end;
  background-color: #06103c;
}

.btns1 button {
  padding: 15px 30px;
  background-color: white;
  color: black;
}
.btns1 button:hover {
  background-color: #06103c;
  color: white;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 130px;
  color: #06103c;
}
.p1 {
  font-size: 30px;
  padding-left: 130px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.p1 p:nth-child(2) {
  font-size: 20px;
  width: 70%;
}
.sec1 button {
  background-color: #06103c;
  padding: 12px 25px;
  margin-top: 30px;
  margin-left: 130px;
  color: white;
}
.sec1 section {
  padding-right: 50px;
  display: flex;
  flex-wrap: wrap;
  text-align: justify;
}
.sec1 section .left {
  width: 50%;
  min-width: 300px;
  flex-grow: 1;
}
.sec1 section .right {
  flex-grow: 1;
  min-width: 300px;
  width: 50%;
  height: 70vh;
  background-size: cover;
  background-position: center;
  background-image: url(https://static.wixstatic.com/media/88aac0_711e9ff68a08459cb5e86a0e4c5ee06a~mv2.png/v1/fill/w_1137,h_900,al_c,q_90,usm_0.66_1.00_0.01,enc_avif,quality_auto/88aac0_711e9ff68a08459cb5e86a0e4c5ee06a~mv2.png);
}
@media screen and (max-width: 900px) {
  h1 {
    font-size: 70px;
  }
}
@media screen and (max-width: 400px) {
  h1 {
    font-size: 20px;
  }
}

.sec2 section {
  display: flex;
  flex-wrap: wrap;
  text-align: justify;
  margin-top: 100px;
  background-color: red;
  height: 120vh;
}

.sec2 section h2 {
  padding-left: 70px;
}
.sec2 section .left {
  min-width: 300px;
  width: 50%;
}
.sec2 section .left {
  display: flex;
  flex-grow: 1;
  width: 100px;
  height: 50vh;
  margin-top: 100px;
  background-size: cover;
  background-position: center;
  background-image: url(https://static.wixstatic.com/media/11062b_6d8663bf463849c9a67f654f9938cd92~mv2.jpg/v1/fill/w_1140,h_810,al_c,q_85,usm_0.66_1.00_0.01,enc_avif,quality_auto/Buying%20a%20House.jpg);
}
.sec2 section .right {
  display: flex;
  width: 50%;
  min-width: 300px;
  flex-grow: 1;
}
.sec2 section .right p {
  margin: 200px;
  display: flex;
  text-align: right;
  justify-content: center;
  align-items: center;
  width: 300px;
  font-size: 20px;
}

.sec2 section .right button {
  margin-top: px;
  display: flex;
  align-items: center;
  height: 20px;
  padding: 20px;
  justify-content: center;
}
