* {
  padding: 0;
  margin: 0;
  box-sizing: 0;
  text-decoration: none;
  list-style: none;
}

main {
  margin-top: 70px;
}
/* #region sec1 */
h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 130px;
  color: #06103c;
}
.p1 {
  font-size: 30px;
  padding-left: 130px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.p1 p:nth-child(2) {
  font-size: 20px;
  width: 70%;
}
.sec1 button {
  background-color: #06103c;
  padding: 12px 25px;
  margin-top: 30px;
  margin-left: 130px;
  color: white;
}
.sec1 button:hover {
  background-color: white;
  color: #06103c;
}
.sec1 section {
  padding-right: 50px;
  display: flex;
  flex-wrap: wrap;
  text-align: justify;
}
.sec1 section .left {
  width: 50%;
  min-width: 300px;
  flex-grow: 1;
}
.sec1 section .right {
  flex-grow: 1;
  min-width: 300px;
  width: 50%;
  height: 70vh;
  background-size: cover;
  background-position: center;
  background-image: url(./templates/photos/firts.avif);
}
@media screen and (max-width: 900px) {
  h1 {
    font-size: 70px;
  }
}
@media screen and (max-width: 400px) {
  h1 {
    font-size: 20px;
  }
}
/* #endregion sec1 */
/* #region sec2 */
.sec2 {
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100%;
  height: 100vh;
}

.secc {
  gap: 40px;
  padding-top: 150px;
  display: flex;
  width: 85%;
  height: 70vh;
  flex-direction: column;
}
.secc h2 {
  font-size: 60px;
  font-weight: lighter;
}
.secc1 {
  flex-wrap: wrap;
  display: flex;
  width: 100%;
}
.sec2 .pic {
  width: 500px;
  height: 50vh;
  background-position: center;
  background-size: cover;
  background-image: url(./templates/photos/Buying\ a\ House.avif);
}
.sec2 .left {
  flex-grow: 1;
  display: flex;
  width: 50%;
  min-width: 300px;
}
.sec2 .right {
  display: flex;
  flex-grow: 1;
  width: 50%;
  min-width: 300px;
}

.text p {
  width: 300px;
  text-align: justify;
}

.text {
  padding-top: 40px;
  padding-left: 100px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.text a {
  all: unset;
}
.text a button {
  color: white;
  background-color: #06103c;
  padding: 15px 35px;
}
.text a button:hover {
  color: #06103c;
  background-color: white;
}

/* 
#endregion sec2 */
/* #region sec3 */

.sec3 {
  display: flex;
  background-color: #c1c3ce;
  width: 100%;
  height: 100vh;
}

.seec {
  gap: 50px;

  padding-top: 60px;
  padding-left: 60px;
  display: flex;
  width: 100%;
  height: 80vh;
  flex-direction: column;
}
.seec1 {
  display: flex;
  height: 80vh;
  width: 100%;
}
.seec1 .left {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 50%;
  min-width: 300px;
}
.seec1 .right {
  padding-right: 60px;
  align-items: center;
  justify-content: flex-end;
  display: flex;
  width: 50%;
  min-width: 300px;
}
.seec h2 {
  color: #06103c;
  font-weight: lighter;
  font-size: 50px;
}
.seec1 p {
  font-size: 20px;
  max-width: 400px;
  text-align: justify;
}
.seec1 .right .text3 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 12px;
}

.seec1 .text1 p {
  height: 10vh;
}

.seec1 .text2 p {
  height: 10vh;
}

.seec1 .right .quote {
  text-align: justify;
  max-width: 400px;
}
/* #endregion sec3 */

.sec4 {
  
  background-color: #c1c3ce;
  width: 100%;
  height: 120vh;
}
.secc3 {
  padding-top: 50px;
}
.secc3 h2 {
  font-size: 60px;
  font-weight: lighter;
  padding-left: 80px;
}
.boxs {
  gap: 30px;
  flex-wrap: wrap;
  text-align: center;
  padding: 80px;
  display: flex;
  justify-content: space-between;
}

.box1 .pic1 {
  background-image: url(./templates/photos/1.avif);
  background-position: center;
  height: 50vh;
  background-size: cover;
  width: 300px;
}

.box2 .pic2 {
  background-image: url(./templates/photos/2.png);
  background-position: center;
  height: 50vh;
  background-size: cover;

  width: 300px;
}
.box3 .pic3 {
  background-image: url(./templates/photos/3.avif);
  background-position: center;
  height: 50vh;
  background-size: cover;
  width: 300px;
}
.caption1 {
  padding: 15px 10px;
}
.caption1 h2 {
  padding: 5px;
  font-size: 30px;
}

.caption1 p {
  padding: 10px;
  text-align: justify;
  font-size: 20px;
  width: 300px;
}
.caption1 {
  padding: 15px 10px;
}
.caption1 h2 {
  padding: 5px;
  font-size: 30px;
}

.caption2 {
  padding: 15px 10px;
}
.caption2 p {
  padding: 15px;
  text-align: justify;
  font-size: 20px;
  width: 300px;
}
.caption2 h2 {
  padding: 5px;
  font-size: 30px;
}
.caption3 {
  padding: 15px 10px;
}
.caption3 h2 {
  padding: 5px;
  font-size: 30px;
}
.caption3 p {
  padding: 15px;
  text-align: justify;
  font-size: 20px;
  width: 300px;
}
.box1,
.box2,
.box3 {
  gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* #region sec5 */
.sec5 {
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  background-image: url(./templates/photos/last.avif);
}
/* #endregion sec5 */
