* {
  padding: 0;
  margin: 0;
  box-sizing: 0;
  text-decoration: none;
  list-style: none;
}

main {
  margin-top: 70px;
}
/* #region sec1 */
h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 130px;
  color: #06103c;
  text-align: center;
}
.p1 {
  font-size: 30px;
  padding-left: 130px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.p1 p:nth-child(2) {
  font-size: 20px;
  width: 70%;
  flex-wrap: wrap;
}
.sec1 button {
  background-color: #06103c;
  padding: 12px 25px;
  margin-top: 30px;
  margin-left: 130px;
  color: white;
}
.sec1 button:hover {
  background-color: white;
  color: #06103c;
}
.sec1 section {
  gap: 20px;
  padding-right: 50px;
  display: flex;
  flex-wrap: wrap;
  text-align: justify;
}
.sec1 section .left {
  width: 50%;
  min-width: 300px;
  flex-grow: 1;
}
.sec1 section .right {
  flex-grow: 1;
  min-width: 300px;
  width: 45%;
  height: 70vh;
  background-size: cover;
  background-position: center;
  background-image: url(./templates/photos/firts.avif);
}

@media screen and(max-width:1200px) {
  .p1 p:nth-child(1) {
    padding-right: 50px;
  }
}
@media screen and (max-width: 900px) {
  h1 {
    font-size: 60px;
  }
  .p1 {
    flex-wrap: wrap;
    height: auto;
  }
}

/* #endregion sec1 */
/* #region sec2 */
.sec2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}

.secc {
  gap: 40px;
  padding-top: 150px;
  display: flex;
  width: 85%;
  height: 70vh;
  flex-direction: column;
}
.secc h2 {
  font-size: 60px;
  font-weight: lighter;
}
.secc1 {
  flex-wrap: wrap;
  display: flex;
  width: 100%;
}
.sec2 .pic {
  width: 500px;
  height: 50vh;
  background-position: center;
  background-size: cover;
  background-image: url(./templates/photos/Buying\ a\ House.avif);
}
.sec2 .left {
  flex-grow: 1;
  display: flex;
  width: 50%;
  min-width: 300px;
}
.sec2 .right {
  display: flex;
  flex-grow: 1;
  width: 50%;
  min-width: 300px;
}

.text p {
  width: 300px;
  text-align: justify;
}

.text {
  padding-top: 40px;
  padding-left: 100px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.text a {
  all: unset;
}
.text a button {
  color: white;
  background-color: #06103c;
  padding: 15px 35px;
}
.text a button:hover {
  color: #06103c;
  background-color: white;
}
@media (max-width: 800px) {
  .secc {
    width: 95%;
    height: auto;
    padding-top: 80px;
  }

  .secc h2 {
    font-size: 42px;
    text-align: center;
  }

  .secc1 {
    flex-direction: column;
    align-items: center;
  }

  .sec2 .left,
  .sec2 .right {
    width: 100%;
    justify-content: center;
  }

  .sec2 .pic {
    width: 100%;
    max-width: 500px;
    height: 300px;
  }

  .text {
    padding: 40px 20px;
    align-items: center;
    text-align: center;
  }

  .text p {
    width: 100%;
    max-width: 400px;
  }
}
@media (max-width: 576px) {
  .secc h2 {
    font-size: 32px;
  }

  .sec2 .pic {
    height: 220px;
  }

  .text a button {
    width: 100%;
    text-align: center;
  }
}

/* 
#endregion sec2 */
/* #region sec3 */

.sec3 {
  display: flex;
  background-color: #c1c3ce;
  width: 100%;
  min-height: 100vh;
}

.seec {
  gap: 50px;

  padding-top: 60px;
  padding-left: 60px;
  display: flex;
  width: 100%;
  height: 80vh;
  flex-direction: column;
}
.seec1 {
  display: flex;
  height: 80vh;
  width: 100%;
}
.seec1 .left {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 50%;
  min-width: 300px;
}
.seec1 .right {
  padding-right: 60px;
  align-items: center;
  justify-content: flex-end;
  display: flex;
  width: 50%;
  min-width: 300px;
}
.seec h2 {
  color: #06103c;
  font-weight: lighter;
  font-size: 50px;
}
.seec1 p {
  font-size: 20px;
  max-width: 400px;
  text-align: justify;
}
.seec1 .right .text3 {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 12px;
}

.seec1 .text1 p {
  height: 10vh;
}

.seec1 .text2 p {
  height: 10vh;
}

.seec1 .right .quote {
  text-align: start;
  max-width: 400px;
}
@media (max-width: 800px) {
  .seec {
    padding: 40px 30px;
    height: auto;
    gap: 40px;
  }

  .seec h2 {
    font-size: 40px;
    text-align: center;
  }

  .seec1 {
    flex-direction: column;
    height: auto;
    gap: 40px;
  }

  .seec1 .left,
  .seec1 .right {
    width: 100%;
    min-width: unset;
  }

  .seec1 .right {
    padding-right: 0;
    justify-content: start;
  }

  .seec1 p {
    max-width: 100%;
    font-size: 18px;
  }

  .seec1 .right .text3 {
    align-items: start;
  }

  .seec1 .right .quote {
    text-align: start;
  }
}
@media (max-width: 576px) {
  .seec {
    padding: 30px 20px;
  }

  .seec h2 {
    font-size: 30px;
  }

  .seec1 p {
    font-size: 16px;
  }

  .seec1 .right .quote {
    font-size: 15px;
  }
}

/* #endregion sec3 */

/* #region sec4 */
.sec4 {
  background-color: #c1c3ce;
  width: 100%;
  min-height: 120vh;
}
.secc3 {
  padding-top: 50px;
}
.secc3 h2 {
  font-size: 60px;
  font-weight: lighter;
  padding-left: 80px;
}
.boxs {
  gap: 30px;
  flex-wrap: wrap;
  text-align: center;
  padding: 80px;
  display: flex;
  justify-content: space-between;
}

.box1 .pic1 {
  background-image: url(./templates/photos/1.avif);
  background-position: center;
  height: 50vh;
  background-size: cover;
  width: 300px;
}

.box2 .pic2 {
  background-image: url(./templates/photos/2.png);
  background-position: center;
  height: 50vh;
  background-size: cover;

  width: 300px;
}
.box3 .pic3 {
  background-image: url(./templates/photos/3.avif);
  background-position: center;
  height: 50vh;
  background-size: cover;
  width: 300px;
}
.caption1 {
  padding: 15px 10px;
}
.caption1 h2 {
  padding: 5px;
  font-size: 30px;
}

.caption1 p {
  padding: 10px;
  text-align: justify;
  font-size: 20px;
  width: 300px;
}
.caption1 {
  padding: 15px 10px;
}
.caption1 h2 {
  padding: 5px;
  font-size: 30px;
}

.caption2 {
  padding: 15px 10px;
}
.caption2 p {
  padding: 15px;
  text-align: justify;
  font-size: 20px;
  width: 300px;
}
.caption2 h2 {
  padding: 5px;
  font-size: 30px;
}
.caption3 {
  padding: 15px 10px;
}
.caption3 h2 {
  padding: 5px;
  font-size: 30px;
}
.caption3 p {
  padding: 15px;
  text-align: justify;
  font-size: 20px;
  width: 300px;
}
.box1,
.box2,
.box3 {
  gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 800px) {
  .secc3 h2 {
    font-size: 42px;
    padding-left: 40px;
    text-align: center;
  }

  .boxs {
    justify-content: center;
    padding: 40px;
    gap: 40px;
  }

  .box1,
  .box2,
  .box3 {
    width: 45%;
  }

  .box1 .pic1,
  .box2 .pic2,
  .box3 .pic3 {
    width: 100%;
    max-width: 320px;
    height: 280px;
  }

  .caption1 p,
  .caption2 p,
  .caption3 p {
    width: 100%;
    max-width: 320px;
    font-size: 18px;
  }
}
@media (max-width: 576px) {
  .secc3 h2 {
    font-size: 32px;
    padding-left: 0;
    text-align: center;
  }

  .boxs {
    flex-direction: column;
    padding: 20px;
    gap: 30px;
  }

  .box1,
  .box2,
  .box3 {
    width: 100%;
  }

  .box1 .pic1,
  .box2 .pic2,
  .box3 .pic3 {
    width: 100%;
    height: 220px;
  }

  .caption1 p,
  .caption2 p,
  .caption3 p {
    width: 100%;
    font-size: 16px;
    text-align: center;
  }

  .caption1 h2,
  .caption2 h2,
  .caption3 h2 {
    font-size: 24px;
  }
}

/* #endregion sec4 */
/* #region sec5 */
.sec5 {
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  background-image: url(./templates/photos/last.avif);
}
/* #endregion sec5 */
