<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="../templates/common.css">
    <link rel="stylesheet" href="./about.css"><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
<header>
      <a href="../index.html"><h3>J. Castiglioni</h3></a>
     
          
        
       
        
      <nav> 
        <ul>
          <li><a href="../index.html">Home</a></li>
          <li><a href="./about.html">About</a></li>
          <li><a href="./contact.html">Contact</a></li>
        </ul>
      </nav>
      <div class="btns1">
        <a href=".//contact.html"><button>Contact us</button></a>
      </div>
      <div class="burger">
        <input type="checkbox"  id="chek" >
        <label for="chek">
          <div class="line"></div>
          <div class="line"></div> 
          <div class="line"></div>
    
        </label>
        <nav class="nav1"> 
        <ul>
          <li><a href="../index.html">Home</a></li>
          <li><a href="./about.html">About</a></li>
          <li><a href="./contact.html">Contact</a></li>
          
        </ul>
      
      </nav>
      </div>




    </header>
    <section class="sec1">
  <div class="left">
    <img src="./photos/4.avif" alt="Team">
  </div>

  <div class="right">
    <h1>WHO WE ARE</h1>
    <h3>Our Mission</h3>
    <p>
     


J. Castiglioni is a pioneering mortgage lender dedicated to revolutionizing the home financing journey. Specializing in a diverse range of lending products, from conventional loans to unique portfolio lending, our focus on digital applications and cutting-edge technology ensures a seamless user experience. Through our acclaimed 'Fast-Track Financing Initiative,' we have set new records in closing loans promptly, enabling first-time homebuyers to achieve ownership without delays. Committed to a personalized approach, we delve deep into our clients' financial objectives to align mortgage options with individual dreams. Our unwavering dedication to financial literacy is evident through free community workshops on budgeting and credit building. With a core emphasis on exceptional service and transparency, J. Castiglioni continually impacts the lending industry, empowering clients at every stage.
    </p>
  </div>
</section>

     <footer>
      <div class="parent" data-aos="fade-up" data-aos-duration="2000">
        <div class="div1"> <div class="h22"><a href="../index.html"><h2>J. Castiglioni</h2></a></div></div>
        <div class="div2">
          <div class="ftext1">
<p>123-456-7890

</p>
          <p>info@mysite.com</p>
          <p>500 Terry Francine St. San Francisco, CA 94158</p></div>
        </div>
        <div class="div4">
        <div class="info1">
          <a href="./privacy.html"><p>Privacy Policy</p></a>
          <a href="./acce.html"><p>Accessibility Statement</p></a>
        </div>
        </div>
        <div class="div3">
          <div class="info2">
          <p>© 2035 by J. Castiglioni. Powered and secured by Wix</p>
        </div>
      </div>
      <div class="div5"><a href="instagram.com/wix/#"><i class="fa-brands fa-instagram"></i></a>
       <a href="http://facebook.com/wix"> <i class="fa-brands fa-facebook"></i></a></div>
    </footer>
</body>
</html>