* {
  padding: 0;
  margin: 0;
  box-sizing: 0;
  text-decoration: none;
  list-style: none;
}

/* #region header */

nav ul li a {
  color: white;
}

header {
  width: 100%;
  height: 70px;
  gap: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  left: 0;
  z-index: 999;
  position: fixed;
  color: white;
  background-color: #06103c;
}
header h3 {
  padding-left: 70px;
}
nav ul {
  background-color: #06103c;
  justify-content: center;
  display: flex;
  gap: 40px;
  font-size: 20px;
}
.btns1 {
  padding-right: 80px;
  display: flex;
  justify-content: end;
  background-color: #06103c;
}

header a{
  color: white;
}
.btns1 button {
  padding: 15px 30px;
  background-color: white;
  color: black;
}
.btns1 button:hover {
  background-color: #06103c;
  color: white;
}
.line {
  width: 40px;
  height: 4px;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
}
 header label {
  width: 40px;
  gap: 5px;
  display: flex;
  flex-direction: column;
}
#chek {
  display: none;
}
.burger {
  flex-direction: column;
  gap: 8px;
  padding-right: 40px;
  display: none;
}

#chek:checked + label .line:nth-child(2) {
  display: none;
}

#chek:checked + label .line:nth-child(1) {
  transform: rotate(45deg) translate(5px);
}
#chek:checked + label .line:nth-child(3) {
  transform: rotate(-45deg) translate(5px);
}
#chek:checked ~ nav ul {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
  background-color: #06103c;
  width: 100%;
}
#chek:checked ~ nav {
  flex-direction: column;
  display: flex;
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: white;
  top: 70px;
  left: 0;
}

@media screen and (max-width: 600px) {
  .burger {
    display: flex;
  }
  nav {
    display: none;
  }
  .btns1 button {
    display: none;
  }
}

/* #endregion header */

/* #region footer */
footer {
  padding: 10px;
  width: 100%;
  height: 70vh;
  background-color: #06103c;
}
footer a{
  color: white;
}
.parent {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.div1 {
  /* background-color: aquamarine; */
  grid-area: 2 / 1 / 3 / 2;
}
.div2 {
  /* background-color: azure; */
  grid-area: 5 / 1 / 6 / 3;
}
.div3 {
  grid-area: 7 / 4/ 7 / 6;
}
.div4 {
  padding-left: 10px;
  grid-area: 6/ 4 / 5/ 6;
}
.div5 {
  padding-top: 20px;
  padding-left: 30px;
  /* background-color: aquamarine; */
  grid-area: 7/ 1 / 6/ 2;
}
.h22 {
  font-size: 30px;
  color: white;
  display: flex;
  justify-content: center;
}

.ftext1 {
  color: white;
  padding-left: 40px;
  gap: 10px;
  display: flex;
  flex-direction: column;
  text-align: justify;
  font-size: 20px;
}
.info2 {
  color: white;
  display: flex;
  font-size: 20px;
}
.div5 i {
  color: white;
  font-size: 30px;
}
.info1 {
  all: unset;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 20px;
}

.info1 a {
  all: unset;
}
@media (max-width: 1200px) {
  .parent {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
  }
  .div1,
  .div2,
  .div3,
  .div4,
  .div5 {
    grid-area: auto;
  }
}

@media (max-width: 768px) {
  .parent {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .ftext1,
  .info1,
  .info2 {
    padding-left: 0;
    text-align: center;
  }
  .div5 {
    padding-left: 0;
    padding-top: 10px;
  }
  .h22 {
    font-size: 24px;
  }
}

@media (max-width: 480px) {
  .h22 {
    font-size: 20px;
  }
  .ftext1,
  .info1,
  .info2 {
    font-size: 16px;
  }
  .div5 i {
    font-size: 24px;
  }
}

/* #endregion footer */
