
* {
  padding: 0;
  margin: 0;
  box-sizing: 0;
  text-decoration: none;
  list-style: none;
}



nav ul li a {
  color: white;
}
header {
  width: 100%;
  height: 70px;
  gap: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  left: 0;
  z-index: 999;
  position: fixed;
  color: white;
  background-color: #06103c;
}
header h3 {
  padding-left: 70px;
}
nav ul {
  background-color: #06103c;
  justify-content: center;
  display: flex;
  gap: 40px;
  font-size: 20px;
}
.btns1 {
  padding-right: 80px;
  display: flex;
  justify-content: end;
  background-color: #06103c;
}

.btns1 button {
  padding: 15px 30px;
  background-color: white;
  color: black;
}
.btns1 button:hover {
  background-color: #06103c;
  color: white;
}
