<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>


    <link rel="stylesheet" href="contact.css">
     <link rel="stylesheet" href="./common.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
      integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
</head>
<body>
    <header>
      <a href="../index.html"><h3>J. Castiglioni</h3></a>
     
          
        
       
        
      <nav> 
        <ul>
          <li><a href="../index.html">Home</a></li>
          <li><a href="./about.html">About</a></li>
          <li><a href="./contact.html">Contact</a></li>
        </ul>
      </nav>
      <div class="btns1">
        <a href="./contact.html"><button>Contact us</button></a>
      </div>
      <div class="burger">
        <input type="checkbox"  id="chek" >
        <label for="chek">
          <div class="line"></div>
          <div class="line"></div> 
          <div class="line"></div>
    
        </label>
        <nav class="nav1"> 
        <ul>
          <li><a href="../index.html">Home</a></li>
          <li><a href="./about.html">About</a></li>
          <li><a href="./contact.html">Contact</a></li>
          
        </ul>
      
      </nav>
      </div>




    </header>
<section class="contact">
  <h1>GET IN TOUCH</h1>
  <p>
    Reach out to us for expert mortgage advice and personalized solutions<br>
    tailored to your financial needs.
  </p>

  <form>
    <div class="field">
      <label>First name *</label>
      <input type="text" required>
    </div>

    <div class="field">
      <label>Last name *</label>
      <input type="text" required>
    </div>

    <div class="field">
      <label>Email *</label>
      <input type="email" required>
    </div>

    <div class="field">
      <label>Phone</label>
      <input type="tel">
    </div>

    <div class="field">
      <label>Message</label>
      <textarea rows="4"></textarea>
    </div>

    <button type="submit">Submit</button>
  </form>
</section>
 <footer>
      <div class="parent" data-aos="fade-up" data-aos-duration="2000">
        <div class="div1"> <div class="h22"><a href="../index.html"><h2>J. Castiglioni</h2></a></div></div>
        <div class="div2">
          <div class="ftext1">
<p>123-456-7890

</p>
          <p>info@mysite.com</p>
          <p>500 Terry Francine St. San Francisco, CA 94158</p></div>
        </div>
        <div class="div4">
        <div class="info1">
          <a href="./privacy.html"><p>Privacy Policy</p></a>
          <a href="./acce.html"><p>Accessibility Statement</p></a>
        </div>
        </div>
        <div class="div3">
          <div class="info2">
          <p>© 2035 by J. Castiglioni. Powered and secured by Wix</p>
        </div>
      </div>
      <div class="div5"><a href="instagram.com/wix/#"><i class="fa-brands fa-instagram"></i></a>
       <a href="http://facebook.com/wix"> <i class="fa-brands fa-facebook"></i></a></div>
    </footer>
</body>
</html>