<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Privacy Policy</title><link rel="stylesheet" href="./common.css">
   <link rel="stylesheet" href="./privacy.css">
</head>
<body>
    <header>
      <h3>J. Castiglioni</h3>
      <nav>
        <ul>
          <li><a href="./about.html">Home</a></li>
          <li><a href="./templates/about.html">About</a></li>
          <li><a href="">Contact</a></li>
        </ul>
      </nav>
      <div class="btns1">
        <a href=""><button>Contact us</button></a>
      </div>
    </header>
<main>
<section class="text-section">
  <div class="container">
    <h1>
Privacy Policy</h1>

    <div class="paragraph">
      <h2>
A legal disclaimer</h2>
      <p>The explanations and information provided on this page are only general and high-level explanations and information on how to write your own document of a Privacy Policy. You should not rely on this article as legal advice or as recommendations regarding what you should actually do, because we cannot know in advance what are the specific privacy policies you wish to establish between your business and your customers and visitors. We recommend that you seek legal advice to help you understand and to assist you in the creation of your own Privacy Policy.</p>
    </div>

    <div class="paragraph">
      <h2>
Privacy Policy - the basics</h2>
      <p>Having said that, a privacy policy is a statement that discloses some or all of the ways a website collects, uses, discloses, processes, and manages the data of its visitors and customers. It usually also includes a statement regarding the website’s commitment to protecting its visitors’ or customers’ privacy, and an explanation about the different mechanisms the website is implementing in order to protect privacy.</p>

    </div>

<div class="paragraph"><p>Different jurisdictions have different legal obligations of what must be included in a Privacy Policy. You are responsible to make sure you are following the relevant legislation to your activities and location.</p> </div>

<div class="paragraph">
      <h2>What to include in the Privacy Policy</h2>
     <p>Generally speaking, a Privacy Policy often addresses these types of issues: the types of information the website is collecting and the manner in which it collects the data; an explanation about why is the website collecting these types of information; what are the website’s practices on sharing the information with third parties; ways in which your visitors and customers can exercise their rights according to the relevant privacy legislation; the specific practices regarding minors’ data collection; and much, much more. </p>
    </div>
<div class="paragraph"><p>To learn more about this, check out our article “Creating a Privacy Policy”.</p></div>
  </div>
</section>

</main>

        <footer>
      <div class="parent" data-aos="fade-up" data-aos-duration="2000">
        <div class="div1"> <div class="h22"><h2>J. Castiglioni</h2></div></div>
        <div class="div2">
          <div class="ftext1">
<p>123-456-7890

</p>
          <p>info@mysite.com</p>
          <p>500 Terry Francine St. San Francisco, CA 94158</p></div>
        </div>
        <div class="div4">
        <div class="info1">
          <a href="./privacy.html"><p>Privacy Policy</p></a>
          <a href=""><p>Accessibility Statement</p></a>
        </div>
        </div>
        <div class="div3">
          <div class="info2">
          <p>© 2035 by J. Castiglioni. Powered and secured by Wix</p>
        </div>
      </div>
      <div class="div5"><i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-facebook"></i></div>
    </footer>
</body>
</html>